.vendas-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    height: 92vh;
}

.vendas-container-cadastro{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.vendas-container-cadastro > form{
    box-shadow: 0px 0px 5px #4A4E69;
    margin-top: 100px;
    width: 55%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vendas-container-cadastro > form > h1{
    text-align: center;
    margin-bottom: 30px;
    color: #4A4E69;
}

.form-cad-venda{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-cad-venda-input{
    width: 250px;
    height: 10px;
    padding: 10px;
    outline: none;
    border: 2px solid #4A4E69;
    border-radius: 20px;
}

.form-cad-venda-select{
    border: 2px solid #4A4E69;
    width: 270px;
    height: 35px;
    border-radius: 20px;
    outline: none;
}

.form-cad-venda-select > option{
    background-color: #4A4E69;
    color: #fafafa;
    font-weight: 500;
}

.form-cad-venda-label{
    font-weight: 500;
    color: #4A4E69;
    margin-left: 5px;
}

.form-cad-venda-btn{
    margin-top: 40px;
    width: 100px;
    height: 40px;
    background-color: #4A4E69;
    border: none;
    color: #fafafa;
    font-size: 18px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form-cad-venda-btn:hover{
    transition: all .2s;
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px #bbb;
}

.vendas-container-lista{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
}

.vendas-container-lista > h1{
    margin-top: 20px;
    color: #4A4E69;
}

.vendas-container-lista-table{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #4A4E69;
    border-radius: 20px;
    width: 90%;
    padding-inline: 10px;
    align-items: center;
}

.venda-table-head{
    display: flex;
    flex-direction: row;
    background-color: #4A4E69;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    padding: 10px;
    color: #fafafa;
    font-size: 14px;
}

.venda-table-head-col-id{
    width: 5%;
    text-align: center;
}

.venda-table-head-col-produto{
    width: 25%;
    text-align: center;
}

.venda-table-head-col-valor{
    width: 10%;
    text-align: center;
}

.venda-table-head-col-data{
    width: 20%;
    text-align: center;
}

.venda-table-head-col-vendedor{
    width: 20%;
    text-align: center;
}

.venda-table-head-col-edit{
    width: 10%;
    text-align: center;
}

.venda-table-head-col-delet{
    width: 10%;
    text-align: center;
}
